[2022-05-18 20:54] kevinmarrec opened #1 "Add icon generation"

[2022-05-21 16:36] #1 closed

[2022-05-22 16:36] xlanex6 opened #3 "iOS Splash Screen Generator"
Hi @kevinmarrec

I am @xlanex6 as Alex , french dev

I notice `// TODO: Launch Screen Image (IOS)`  [in meta.ts](https://github.com/kevinmarrec/nuxt-pwa-module/blob/d3047a035d7d5430a755ae3bb65d66bb383de443/src/meta.ts#L40)

As Nuxt user on my daily job, I will love this feature
I already done some work on my previous missions ( Nuxt 2 + PWA) but exited to build it for nuxt3.
Also I'm really rookie

[2022-05-22 16:47] kevinmarrec commented on #3
Hey @xlanex6 !

You can indeed fork this project, work on a branch on your side then submit a PR !

I first didn't implement it to iterate faster on a working Nuxt 3 module.

As I finished implementing the icons generation yesterday, it should be now really easy to add back the IOS splash screen generation.

It may require small refactor for the generated file names, but adding this feature back s

[2022-05-23 14:08] xlanex6 commented on #3
Yep
https://github.com/xlanex6/nuxt-pwa-module/tree/ios-splash-screen

I generate image , add logo in the middle
and inject into meta
I can submit PR , event is not fully finish @kevinmarrec
I want finish this evening

[2022-05-24 18:02] kevinmarrec opened #5 "Add tests"
I should add some tests in a near future, for stability.

Using https://github.com/vitest-dev/vitest of course :)

[2022-05-30 14:45] kevinmarrec commented on #5
Implemented through https://github.com/kevinmarrec/nuxt-pwa-module/commit/4cc9983353e3a8d1415337d78f4ff452fdee9abb

[2022-05-30 14:45] #5 closed

[2022-05-31 07:29] #3 closed

[2022-05-31 19:22] jsulpis opened #7 "Issue with nuxi generate"
Hello,
first of all, thank you for this module !
I would like to use it with static generation and this does not seem to work.

In your repo, when I run `pnpm nuxi generate example`, I get the following error :
[code]

The build output seems to be fine. However, when I move the `app.vue` file into a `pages` folder and rename it to `index.vue` (closer to a real world configuration), with the same c

[2022-05-31 20:37] kevinmarrec opened #8 "Find a way to get rid of `any maskable` Lighthouse warnings"
Warnings to fix :

![Screenshot_1](https://user-images.githubusercontent.com/25272043/171280299-92d61f7e-e124-47c7-8418-2c18d1b95832.png)

[2022-05-31 20:45] jsulpis commented on #7
I wonder if it could be an issue in nuxt3 / nitro, because I tried to remove the link tag at the end of the `meta.ts` file (which removed the error because there is no link to the manifest), then I added said link in `nuxt.config.ts`:
[code]
and the same 404 error comes back on the manifest file. This does not seem right to me

[2022-06-01 07:05] ram-you opened #9 "Lighthouse Indexeddb Warning"
Hi, how To Fix Lighthouse Indexeddb Warning :
` "There may be stored data affecting loading performance in this location: IndexedDB"`

[2022-06-01 08:15] ram-you commented on #9
Hi @kevinmarrec , thanks for response.
I know how to work around this problem, but I was wondering why store the cache in indexedDB and is there an option not to.

[2022-06-01 08:38] kevinmarrec commented on #9
@ram-you

If something is stored in `IndexedDB`, this is handled by Workbox.

I found some info here https://developers.google.com/web/ilt/pwa/live-data-in-the-service-worker

Then I inspected what was stored in `IndexedDB` :

![image](https://user-images.githubusercontent.com/25272043/171362541-80fb6c78-175f-42a0-b06b-d0c48e1e6704.png)

It sounds like `IndexedDB` is used by the Workbox Expiration

[2022-06-01 09:00] kevinmarrec commented on #9
@ram-you The only solution I can give you is the possibility to use your custom Workbow template and don't use expiration plugin, but I think it would be quite unreasonable to do this cause, after all, when you want to run a Lighthouse test you want to run it on a fresh website, without cookies, cache (IndexedDB included) and more. That's why I would just recommend you to always run your Lighthous

[2022-06-01 09:12] #8 closed

[2022-06-01 11:33] kevinmarrec commented on #9
Feel free to open a new issue is you want the custom template option as module improvement.

[2022-06-02 10:29] ram-you opened #10 "Icons purposes improvement"
Hi,
[Suggestion]
It would be great to have the possibility to use another image file other than icon.png, for example, icon-maskable.png, if it exists, for icons with purpose maskable

[2022-06-02 10:33] kevinmarrec commented on #10
@ram-you I think that we should keep one icone as source of truth, but generate more images that are dedicated for maskable purpose which is just about adding padding around base icon.

Do you think it would be enough ?

[2022-06-02 11:33] ram-you commented on #10
I think if it's doable, thanks to sharp, it will be good solution.

[2022-06-02 12:33] kevinmarrec commented on #10
Great, I'll have a look then.

[2022-06-02 12:42] Baroshem opened #11 "[Bug] No service worker detected"
Hey,

Thanks for this module!

I have a question regarding the service worker as it does not seem to be registered by default.

<img width="1087" alt="image" src="https://user-images.githubusercontent.com/37120330/171631447-f054d20f-c21b-451f-9682-2e24411511d0.png">

My nuxt.config.ts

[code]

[2022-06-02 17:34] bendwarn opened #12 "Refer to assets using baseURL"
sw, manifest, icons etc prefixing with baseURL seems to be better.

[2022-06-02 18:31] bendwarn commented on #7
Not module issue. Prerender is experimental. If ssr is false, html will be clean and get rid of error.

[2022-06-02 23:05] IanEvers opened #13 "taliwind css module stops working"
i tried to add this module on a project that had the tailwind css module on it, then all the tailwind classes stopped working. any idea? sorry if its not clear

[2022-06-03 03:14] kevinmarrec commented on #13
Hi, do you think you could provide a reproduction ? I don't think it's related to this module but le'ts figure out !

[2022-06-03 03:16] kevinmarrec commented on #11
Are you maybe using custom Nuxt  `baseURL` ?

[2022-06-03 05:14] Baroshem commented on #11
I havent changed anything. My version of Nuxt is rc3, my nuxt.config.ts contains kodules declaration and publicRuntimeConfig declaration for GraphQL client. I will try to debug it today and will let you know :)

[2022-06-04 12:57] kevinmarrec commented on #11
@Baroshem Let me know, and if your project is public we can debug from your repository

[2022-06-04 13:06] kevinmarrec commented on #13
@IanEvers Any updates on your issue ? :)

[2022-06-06 06:33] Baroshem commented on #11
Hey @kevinmarrec

I tried to include the module here -> https://github.com/Baroshem/nuxt-shopify-tailwind

I added the module as per instructions and observed the issue I mentioned in the bug. I have not submitted the code with this change yet but will do that in few clicks on a separate branch

[2022-06-06 06:42] Baroshem commented on #11
Here is the branch with added pwa module and the error appears -> https://github.com/Baroshem/nuxt-shopify-tailwind/tree/feat/pwa

[2022-06-06 21:34] #13 closed

[2022-06-06 21:35] kevinmarrec commented on #11
@Baroshem Thanks, I'll have a closer look tomorrow.

Could you try to remove `ssr: false` in the meantime to see if it can be related ? Thanks !

[2022-06-07 01:40] #12 closed

[2022-06-07 11:33] Baroshem commented on #11
Hey, I have actually removed all modules except for yours and whole html section and just left the pwa config and it still does not work

[2022-06-07 11:36] Baroshem commented on #11
You can test it by basically removing everything and it will still not work. I tested it on all major browsers

[2022-06-07 11:50] kevinmarrec commented on #11
Alright, thanks, I reproduced it.

It seems that this window event listener is never trigerred :
https://github.com/kevinmarrec/nuxt-pwa-module/blob/aa01db1679eee3141d8576b24a62b3779f99960e/src/runtime/workbox/plugin.ts#L8

I'm wondering what is causing this to happen, most likely it can be two things :
- The event is fired before it adds the event listener
- Something prevents the event to be fir

[2022-06-07 12:07] kevinmarrec commented on #11
@Baroshem Even if something strange seems to happened with Nuxt 3 when opt-in the router (using `pages` folder), I think I need to implement the worker registration in another way to fix this.

[2022-06-07 12:58] kevinmarrec commented on #10
@ram-you Do you have an idea on how much padding a maskable icon requires ?

[2022-06-07 14:26] kevinmarrec commented on #10
@ram-you Default 15px and an option to customise it sounds ok for you ?

[2022-06-07 20:36] kevinmarrec commented on #7
@jsulpis

Closing as the problem isn't caused by this module implementation but needs to be fixed upstream.

One workaround is disabling crawler in `nuxt.config` :

[code]

This will prevent `nitro` (used by Nuxt 3) to craw links found inside generated pages.

@pi0 @danielroe
We should consider doing two things :
- Pass  [`generate.exclude`](https://github.com/nuxt/framework/blob/main/packages/sch

[2022-06-07 22:19] #10 closed

[2022-06-08 17:24] pyshivam opened #15 "Start_url and custom splash screen does not have name"
![image](https://user-images.githubusercontent.com/38907728/172678557-a3484f91-bbd2-465d-8527-62c7f4054911.png)

Steps to reproduce
1. add this module to project (nuxt 3 + vuetify3 + pinia is present in project) cloudflare preset is used
2. run npm run build
3. run this command to serve `npx miniflare .output/server/index.mjs --site .output/public`
4. open dev tool and generate report on lighthous

[2022-06-09 07:14] pyshivam commented on #15
The issue is solved,

1. I checked my package.json file, `name` property was missing, so I added the name property to it
2. In `nuxt.config.ts` I added this PWA config
[code]
3. I deleted the `.nuxt` and `.output` folders
4. run `npm run build`
5. npx miniflare .output/server/index.mjs --site .output/public
6. then i goto localhost URL of project and voila its working

[2022-06-09 08:02] kevinmarrec commented on #15
@pyshivam Cool, do you think it would had help to have a warning that tells `name` is missing ? I'm not sure it's worth it adding it as it's common to have it in `package.json`, it always has one in projects using Nuxt template or using `init` command of your favorite package manager.

[2022-06-09 08:53] pyshivam commented on #15
I think it is worth adding a warning for every mandatory field which are required by browsers to be able to accept a website as PWA, and I created my project using `npx nuxi init` as now all we know is that the `name`  property was missing because of that it was failing to be recognized as PWA

[2022-06-17 18:59] MarlonWiss2212 commented on #15
Hi, I have the same issue but putting a name in the package.json didn't fix it.

this is my nuxt.config.ts
`
pwa: {
      manifest: {
      name: "Lernplatform",
      lang: 'de',
      start_url: "/",
      short_name: "Lernplatform"
    },
    workbox: {
      enabled: true,
    }
  },
`

[2022-06-18 08:53] kevinmarrec commented on #15
@MarlonWiss2212 What is the full content of your config file ?

[2022-06-18 09:04] MarlonWiss2212 commented on #15
[code]

[2022-06-18 09:17] MarlonWiss2212 commented on #15
when I turned ssr to true it worked and when I now switch it back it finds the file sw file as well but why?

[2022-06-18 09:32] kevinmarrec commented on #15
When service worker is registred, it will be here until you clear your website data in browser in Application tab in Chrome Dev Tools)

Is your repository public ?

[2022-06-18 09:42] MarlonWiss2212 commented on #15
Yes this is exactly happening. But my repository is private.

[2022-06-21 11:49] kevinmarrec commented on #15
@MarlonWiss2212 I tested with `ssr: false` and building & starting the app has the service worker working.

Unless you're able to reproduce it in a minimal public repository, I'm afraid I can't debug more for now, so let me know.

[2022-06-22 08:45] Baroshem commented on #11
@kevinmarrec

Sorry to bother, but I am still experiencing the same issue (even on version 0.3.0). Everything apart from the Service Worker seems to be generated correctly.

![image](https://user-images.githubusercontent.com/37120330/174985359-7d4c29fd-1551-4549-8cba-d67cd6ce21de.png)

[2022-06-22 09:42] desaintflorent opened #16 "runtimeCaching option"
Hi there, I'm using the runtimeCaching option with workbox because my images are from a different domain.
I can see that workbox extra options are not supported for this module, could I use this module and still cache images from different domain ?

[2022-06-22 12:05] kevinmarrec commented on #16
Hi @desaintflorent , what would you need as configuration to achieve your goal ? Would you have a piece of code of the resulting worker file you want to have it working ?

[2022-06-22 12:08] kevinmarrec commented on #11
@Baroshem Could you check, in your html code on `http://localhost:3000`, if you can find the following injected script : https://github.com/kevinmarrec/nuxt-pwa-module/blob/30f0e61a1515715762acf211a44db1b3fcf00bb2/src/workbox.ts#L33-L38

You should find a `<script>` in your HTML that should register the worker.

[2022-06-22 12:33] desaintflorent commented on #16
That is what I'm using right now with the official nuxt pwa module :

[code]

[2022-06-22 22:29] kevinmarrec commented on #16
Great, I'll work on this. Do you need the `suffix` option too ? I'm not sure what it does but I can anyway check official Nuxt 2 PWAmodule code.

[2022-06-23 06:32] Baroshem commented on #11
I have it

<img width="1119" alt="image" src="https://user-images.githubusercontent.com/37120330/175230023-b1fef60e-c9d1-49c3-98bb-09faeb53e3ee.png">

I can see the sw.js file in the .nuxt/pwa/sw.js

<img width="312" alt="image" src="https://user-images.githubusercontent.com/37120330/175230666-e984603a-a99a-4340-9162-d45dd2560ebb.png">

But it is not available in the sources tab in browser
<img wi

[2022-06-23 11:24] Baroshem commented on #11
I have also removed all other modules in the application and it still does not work :(

[2022-06-23 11:45] kevinmarrec commented on #11
@Baroshem Could you try removing `pages` folder if you have one, and just use `app.vue` ? Cause I remember of an issue where adding routing feature (enabled with presence of `pages`) could make this happening.

[2022-06-23 11:46] kevinmarrec commented on #11
Ultimately, could you please create a repository with minimal reproduction. Just a project where the issue occurs, so I can debug from that and help you faster :)

[2022-06-23 11:59] Baroshem commented on #11
Sure, you can try this one -> https://github.com/Baroshem/nuxt-shopify-tailwind/tree/feat/pwa

I removed the code that required some environment variables so you should be able to just clone it and run it easily.

[2022-06-23 12:01] kevinmarrec commented on #11
@Baroshem Thanks, I'll have a try when I got the time.

[2022-06-23 12:16] Baroshem commented on #11
@kevinmarrec

When I removed the pages dir it started working. But it should not be like that as majority of the Nuxt projects will have a pages directory :(

[2022-06-23 14:03] kevinmarrec commented on #11
@Baroshem I see. I'll try to debug this asap.

[2022-06-24 08:39] kevinmarrec commented on #11
This also works in your project branch when using `yarn generate`.

![image](https://user-images.githubusercontent.com/25272043/175497927-5f030d4c-b4a2-4e70-a22b-00c9eb303bcc.png)

[2022-06-24 08:41] kevinmarrec commented on #11
I have it available in Sources tab :

![image](https://user-images.githubusercontent.com/25272043/175498298-11ffb74b-d01a-4f21-a688-f6958454f73c.png)

[2022-06-24 09:23] kevinmarrec commented on #11
You are right, it won't work in dev when having `pages` folder, most likely cause an internal Nuxt weird behavior.

I think it's when using layouts, cause it seems to work on dev with pages folder when not using layouts, could you confirm that ?

/cc @danielroe @pi0

[2022-06-24 09:59] Baroshem commented on #11
Thank you @kevinmarrec then! It solves my issue. Huge kudos to you for keeping up with my issues 😄

[2022-06-24 10:13] kevinmarrec commented on #11
@kevinmarrec Could you confirm it's because of layouts system ? What exactly solved the issue then ?

[2022-06-24 10:46] kevinmarrec commented on #11
Alright, thanks !

[2022-06-24 10:46] #11 closed

[2022-06-25 22:27] soylomass opened #17 "Per page manifest settings"
Is it possible to use a different start_url and scope parameters per page? A web-games website does this so that each game can be installed separately. Is this possible to do with this plugin?

Thanks in advance.

[2022-06-26 00:42] kevinmarrec commented on #17
Hi @soylomass , this is not possible at the moment but we may think about an implementation that would make it possible :)

[2022-06-26 02:17] soylomass commented on #17
Thanks for your answer @kevinmarrec . Could you guide me a bit on where to start if I'd try to implement this myself?

[2022-06-26 10:46] kevinmarrec commented on #17
@soylomass I would tell you first to fully understand the base implementation of the module here.
Especially the `manifest` (creation of manifest json) & `meta` (injection of manifest in meta tags) parts.

For now, the manifest json meta is added at root level, using the property `app.head` of Nuxt configuration to configure root head. By root I mean it will be added on all pages.

Then, the idea

[2022-06-28 07:39] jamaluddinrumi opened #18 "manifest file generate wrong content on nuxi generate"
environment
------------------------------
- Operating System: `Darwin`
- Node Version:     `v16.15.1`
- Nuxt Version:     `3.0.0-rc.4`
- Package Manager:  `yarn@1.22.19`
- Builder:          `vite`
- User Config:      `css`, `tailwindcss`, `modules`, `pwa`, `buildModules`, `storyblok`, `build`
- Runtime Modules:  `@kevinmarrec/nuxt-pwa@0.3.1`
- Build Modules:    `@nuxtjs/tailwindcss@5.1.3`, `@vueu

[2022-06-28 14:50] kevinmarrec commented on #18
Duplicate of #7 (Re-opening it as it should be kept open until it's fixed upstream)

[2022-06-28 14:50] #18 closed

[2022-06-28 14:51] kevinmarrec commented on #7
/cc @pi0 @danielroe

What are the next steps to fix this ? :)

[2022-06-28 16:03] danielroe commented on #7
I opened https://github.com/unjs/nitro/issues/308 to track.

[2022-06-28 16:08] kevinmarrec commented on #7
Great @danielroe thanks !

[2022-07-04 11:25] danielroe commented on #7
See https://github.com/unjs/nitro/issues/308#issuecomment-1169764262 for a recommendation for how to generate the manifest instead which would resolve this issue here.

[2022-07-04 19:46] kevinmarrec commented on #7
@danielroe It means serving `manifest.json` through a Nuxt Server (Nitro) API endpoint ? A `h3` event handler ?

[2022-07-04 22:32] danielroe commented on #7
Exactly.

[2022-07-21 08:15] BenjaminOddou opened #20 "Icons folder generated twice at build time"
Hello @kevinmarrec !

I have a question regarding the generation of PWA icons during build. Do you know why icons are generated twice in the .output folder ?

I have a first folder icons under : `.output/public/_nuxt/icons`
and a second one under : `.output/public/assets/icons`

Is it actually something intended ? Is it possible to remove the second one as it is not used by the generated manifest.

[2022-07-21 08:17] kevinmarrec commented on #20
Hi @BenjaminOddou , I'll have a look :)

[2022-07-21 08:24] BenjaminOddou commented on #20
@kevinmarrec , thank you !

Just for the info my config file looks like this :

[code]

I am sourcing my icon from the `asset` folder instead of the `public` one in order to prevent it from being imported during build.

[2022-07-21 14:39] kevinmarrec commented on #20
@BenjaminOddou I've been investigating and I think you got twice the assets cause you built your project (`.output`) twice with two different Nuxt configurations. Most likely you changed `app.buildAssetsDir`, which is by default `_nuxt`.

Remove `.output` and build again, you shouldn't have both `_nuxt` & `assets`.

You also need to not forget everything in `public` folder will be copied in `.outp

[2022-07-21 16:27] BenjaminOddou commented on #20
@kevinmarrec I tested to remove the `.output` folder but nothing changed ... I don't think I changed `app.buildAssetsDir`. Here is my full config :

[code]

In my `package.json` file :

[code]

Here is my file hierarchy (my `assets` folder is not embedded in my `public` folder).

![image](https://user-images.githubusercontent.com/85166574/180263796-d4fac260-34f9-4a5f-9d23-50c9f4f945e3.png)

Here w

[2022-07-21 16:51] kevinmarrec commented on #20
@BenjaminOddou That's really weird.

In this repository there's an example you can build with `example:build` command of your package manager, and there's not issue in `.output` folder.

I also tried with custom source with a local `assets` folder, no issue.

It would mean it's around your project configuration but I'm not sure how can I help.

I would need you to either create a smaller reproduct

[2022-07-21 17:19] BenjaminOddou commented on #20
@kevinmarrec here is a small repo I made based on my project, I think the bug is caused by my package.json config (pinia installation is throwing me errors...)

[link to the repo](https://github.com/BenjaminOddou/DOUBLE_GENERATION_NUXT)

Alternatively we can have a chat on Discord : BenfoxGaming#0045

Thank you in advance ! 🙏

[2022-07-22 10:07] kevinmarrec commented on #20
@BenjaminOddou Thanks, investigating right now 👀

[2022-07-22 10:24] kevinmarrec commented on #20
@BenjaminOddou Alright, I can reproduce it when not using custom `buildAssetsDir`. There's no duplication when using a custom one like `/assets/`. I'm gonna try to track what can cause the issue in the module itself now.

[2022-07-22 11:15] kevinmarrec commented on #7
Should be fixed by https://github.com/kevinmarrec/nuxt-pwa-module/commit/fa800723f86de346343a4ea434346d79beda6989.
I've tested to local serve a generated Nuxt 3 PWA app with `nuxi generate` and it sounds to work well.

Will be available in next release.

[2022-07-22 11:15] #7 closed

[2022-07-22 14:12] kevinmarrec commented on #17
Hey @soylomass

I've implemented on-demand `manifest.json` through https://github.com/kevinmarrec/nuxt-pwa-module/commit/fa800723f86de346343a4ea434346d79beda6989

The server route is simple as serving a Javascript object : https://github.com/kevinmarrec/nuxt-pwa-module/blob/main/src/parts/manifest/handler.ts

We could think about using something like this for your case, but we'll also need to find

[2022-07-22 14:17] #20 closed

[2022-07-22 15:27] BenjaminOddou opened #22 "Cannot find modules on nuxt dev command causing 503 Server Unavailable"
Hello @kevinmarrec, Thank you for the update of `v0.4.0`!!

However, I can see this warning when building the app  with `nuxt build` command :

[code]

and I have a fatal error on `nuxt dev` command :

[code]

[2022-07-22 15:46] kevinmarrec commented on #22
Oh... sounds to be an issue only when the module itself is built, investigating !

[2022-07-22 16:07] #22 closed

[2022-07-22 16:10] kevinmarrec commented on #22
@BenjaminOddou Can you give `v0.4.1` a try ? :)

[2022-07-22 16:19] BenjaminOddou commented on #22
@kevinmarrec no problem now with the version `v0.4.1`! Thank you very much 😁

[2022-07-22 17:06] nathanchase opened #23 "Error when installing 0.4.1"
I get an error installing 0.4.1 via pnpm:
[code]
0.3.1 installs and works fine.

[2022-07-22 17:27] kevinmarrec commented on #23
@nathanchase Indeed I think I know why, working on a fix.

[2022-07-22 17:58] #23 closed

[2022-07-22 18:03] kevinmarrec commented on #23
Should be fixed on `v0.4.2` !

[2022-07-23 00:55] nathanchase commented on #23
Indeed it is. Thank you!

[2022-07-26 09:26] pinnnguyen opened #24 "How to cache cdn images & API response"
I don't know if there is support for cache images cdn & get api response, if so, how to use it?

Thank in advance

[2022-07-26 09:31] #24 closed

[2022-07-27 15:44] BenjaminOddou opened #25 "Page title Nuxt PWA"
Hello @kevinmarrec, I'd like to ask a question regarding these two lines in the modules.ts file :

https://github.com/kevinmarrec/nuxt-pwa-module/blob/4ac0c2f31fa61c88edd5c1c857c858c87ff169c4/src/module.ts#L24

https://github.com/kevinmarrec/nuxt-pwa-module/blob/4ac0c2f31fa61c88edd5c1c857c858c87ff169c4/src/module.ts#L35

My question is : Can I change `Nuxt PWA` to `undefined` without regressions o

[2022-07-28 09:40] BenjaminOddou opened #26 "Manifest and SW not working properly"
Hello @kevinmarrec, I have a new issue with the PWA module (I promise it's not against you 😅).  It's quite similar to [this issue](https://github.com/kevinmarrec/nuxt-pwa-module/issues/11#issuecomment-1164006768). When starting a fresh nuxt project and building the app, I don't have the `manifest.[hash].json` created under the `.output/public`directory.

___
I created this [public repository](http

[2022-07-28 10:27] kevinmarrec commented on #26
Hey ! Since `v0.4.0`, `manifest.json` is handled by a server route, that's why it is not generated anymore. You should still have it working when going on http://localhost:3000/manifest.json.

[2022-07-28 10:32] kevinmarrec commented on #25
@BenjaminOddou Did you try setting `meta.name`
PWA option to `''` (empty string) ?

The `'Nuxt PWA'` is the default if it can't find one at all, and not having it was making the app 1) not PWA ready ouf of the box cause of missing `manifest.name` & 2) not SEO friendly cause missing `meta.name` (which links to title) which would not be your case if you add `titleTemplate` logic.

[2022-07-28 12:57] BenjaminOddou commented on #25
Hello @kevinmarrec indeed setting
[code]
in my `nuxt.config.ts` solve the problem. Thank you very much ! 🙂

Another questions regarding this meta module :
Is it preferable to set up the meta tags in the `app.vue` or under the `nuxt.config.ts`?

If I am using the `useHead` method in my `app.vue`, do I have to define some meta parameters to '' or `false` in the `nuxt.config.ts` to avoid overwriting

[2022-07-28 13:18] BenjaminOddou commented on #26
Hello @kevinmarrec and thank you for your response ! 🎉 Indeed, I can find the manifest under the `/manifest.json` link !

However, I still don't know how to enable my PWA. When checking the `manifest.json` I can see the following :
[code]

and according to LightHouse test, my `start_url` isn't correct. I tried to set it up to `/` but it ended the same way. 🧐

[2022-07-31 08:33] Youdaman opened #27 "Caching script requests breaks auth"
I'm using the Nuxt Supabase module for auth and it doesn't work properly due to the following block in templates/workbox/sw.js
[code]
Specifically, the ` request.destination === 'script'` line is the cause -- if I comment out this line things work correctly.

The usual login sequence is that after being sent off to the auth provider (for example Azure) it redirects to something like:

http://local

[2022-08-03 13:47] rashidpathiyil opened #28 "CSS not loading"
### Error:
![image](https://user-images.githubusercontent.com/15140041/182621579-e412451c-4f16-4059-83c0-3203dbe069e7.png)

![msedge_FpisTq4LHU](https://user-images.githubusercontent.com/15140041/182624640-e28b3ddc-4793-4876-8cdb-08331902aaf8.gif)

### Reproduce the error:

1. Install `@kevinmarrec/nuxt-pwa` on this repo [vitesse-nuxt3](https://github.com/antfu/vitesse-nuxt3)
2. Add config as in [

[2022-08-04 09:11] kevinmarrec commented on #26
@BenjaminOddou This is weird, could I have your full `nuxt.config.ts` and the full Lighthouse output ?

I can't reproduce it on the `example` of this repository (`pnpm install`, `pnpm example:build` & `pnpm example:start`), it is installable and Lighthouse is not complaining.

[2022-08-04 09:14] kevinmarrec commented on #27
@Youdaman Why is the logout affected as it only removes tokens from local/cache storage ?

I'd like to find a fix but I would need help figuring out what could be the best Caching Strategy to keep caching while having Supabase Auth working :)

[2022-08-04 09:17] kevinmarrec commented on #28
Hi @rashidpathiyil , could you try again by removing `experimental` things from the `nuxt.config.ts` ?

Also /cc @antfu If you have a clue, sounds like to be related to UnoCSS styles.

[2022-08-04 09:44] Youdaman commented on #27
I only discovered the logout bug by chance -- I had logged in already, then activated the PWA module, and when I hit logout it may very well have removed the tokens (sorry I didn't check and can't right now) but it was showing the content as it was, i.e. I had it showing the JSON for the user and it was still there, so I'm guessing it just caches the page content that it had already?

[2022-08-04 09:59] kevinmarrec commented on #27
@Youdaman Have you been able to test it locally with Workbox disabled (Login/Logout) ?

[2022-08-04 10:03] Youdaman commented on #27
Yeah the login/logout works fine before activating the module, if that's what you mean?

[2022-08-04 10:04] kevinmarrec commented on #27
Alright, yes. We need to figure out what changes can do around the default Caching Strategy to prevent this.

[2022-08-04 10:17] Youdaman commented on #27
I ended up just using the approach here and things work fine: https://github.com/larbish/nuxt3-pwa/blob/main/public/sw.js

[2022-08-04 10:59] kevinmarrec commented on #27
@Youdaman Alright, maybe it is just `worker` requests that should be removed ? I don't think it's about scripts caching but about Web Worker requests :)

[2022-08-04 11:02] BenjaminOddou commented on #26
Hello @kevinmarrec and thank you for your response. I created a [public repo](https://github.com/BenjaminOddou/Bug_Nuxt_PWA_Manifest) that reproduces the problem. In the repo, you'll find the `Lighthouse test` results in `JSON` and `HTML` format under the `lighthouse` folder.

Here is my `nuxt.config.ts` file
[code]

Thank you in advance for your help ! 🙏

[2022-08-04 12:20] Youdaman commented on #27
It could be, I don't know enough to say :) All I know is that when I commented out the line that cached scripts then it worked, so maybe there's some more fine-grained control that needs to be worked out for script caching? Again just a guess.

[2022-08-04 16:10] kevinmarrec commented on #27
Well, I'd want you to use you're working cache stratège which contain only `style`, and add `script` but not `worker`, so we can confirm it is and remove it.

[2022-08-04 17:07] Youdaman commented on #27
Can confirm "style + worker" worked fine but "style + script" did not work.

[2022-08-04 21:35] kevinmarrec commented on #27
The think is we want scripts, at least nuxt assets to be cached by the Worker.
I'd like to know better why/how it breaks Supabase Auth.

/cc @larbish As a Supabase Auth + Nuxt 3 PWA user, do you have a clue about the behavior @Youdaman is facing ?

[2022-08-05 09:35] kevinmarrec commented on #26
@BenjaminOddou This sounds to work as expected with your repo on my computer :

![image](https://user-images.githubusercontent.com/25272043/183049005-ab325522-1480-451f-a51d-9bcae7afcccf.png)

This worked for me in both `dev` & (`build` + `preview`)

Did you have a try cleaning properly your browser cache (dunno if it can help) ?

[2022-08-05 10:36] BenjaminOddou commented on #26
It is quite weird that it's not working on my machine (MacOS) ... I cleared the cache multiple times with different methods, I tried to restart my computer, I created different repo just to make sure ... but nothing changed. Idk what's dunno ? But glad that it is working on your side. I know now that the problem is local 🙂

[2022-08-05 10:43] kevinmarrec commented on #26
@BenjaminOddou Maybe you can have a try in different browsers ?

[2022-08-07 02:54] 516310460 opened #29 "Want to add ` SVGA ` and ` SVG` format"
urlPattern: /.*(png|jpg|jpeg|svg|svga).*/,

thank you

[2022-08-07 05:30] 516310460 commented on #29
link: https://github.com/kevinmarrec/nuxt-pwa-module/pull/30

[2022-08-08 12:37] BenjaminOddou opened #31 "Configuration of meta module"
Hello @kevinmarrec, as you suggested, I am creating a new issue to discuss about the configuration of the `meta` module.

I would like to input the following parameters into the `meta` option in the `nuxt.config.ts` file :

[code]

Thank you in advance for your help ! 🙏

[2022-08-08 17:54] manniL commented on #26
Could it be that it does not work when not using SSR or SSG?

[2022-08-09 08:28] larbish commented on #27
Hey @kevinmarrec @Youdaman, I'm not facing this issue on my repo using both supabase-module ad pwa-module but that's an interesting case, thanks for the feedback. @Youdaman Is it possible to provide a reproduction in order to understand the problem and find a solution ?

[2022-08-09 09:14] kevinmarrec commented on #28
@rashidpathiyil Any updates on this ?

[2022-08-09 09:28] rashidpathiyil commented on #28
It's working if I clear Cookies before load the page

[2022-08-09 09:31] rashidpathiyil commented on #28
I am facing similer issue with this config
Now I am cleaning Cookies before refresh to load correctly
cc @kevinmarrec
[code]

[2022-08-11 14:44] BenjaminOddou commented on #26
Hello @kevinmarrec, after some time testing the PWA is working fine (I think it was a problem of http or something). Once deployed on netlify I didn't encounter bugs. However now with the new version of `Nuxt 3.0.0-rc.7` it seems that the PWA manifest link `<root>/manifest.json` is used by the Nuxt Manifest 🧐

[2022-08-12 15:21] rmenai opened #32 "PWA does not seem to work with rc-7 (Vite 3)"
## Reproduction steps

- npx nuxi init nuxt-app
- cd nuxt-app
- yarn add @kevinmarrec/nuxt-pwa
- yarn build && yarn preview

## Lighthouse

![image](https://user-images.githubusercontent.com/59766203/184386513-57f1c291-b4cc-4170-a16f-3adafc81cead.png)

Upon upgrading to rc-7, my pwa is lo longer installable. This might be because Vite was updated to version 3.

[2022-08-14 16:54] toniengelhardt commented on #32
Also having issues...

[2022-08-15 11:06] BenjaminOddou commented on #32
Same here. The manifest file is not available under the root link `/manifest.json`.

[2022-08-15 11:14] kevinmarrec commented on #32
Hi, I'm off for almost 2 weeks so I won't be able to take a look quickly.

This is a framework upstream issue which indeed may be caused by Vite upgrade.

/cc @pi0

[2022-08-18 10:54] SepehrMoafi opened #33 "I have PWA in wappalyzer but in lighthouse I have some issue , how can I fix them ?"
![image](https://user-images.githubusercontent.com/64370700/185378276-3044e076-5501-4bce-bbe4-2f906ca465b2.png)
 issue 1 : Web app manifest or service worker do not meet the installability requirements .
No matching service worker detected. You may need to reload the page, or check that the scope of the service worker for the current page encloses the scope and start URL from the manifest .

issue

[2022-08-18 11:05] SepehrMoafi commented on #33
when i add
`pwa: {
        workbox: {
            enabled: true
        }
    }`
i have only one issue
![image](https://user-images.githubusercontent.com/64370700/185380354-4e2c14ef-9e0b-4f4b-a27e-e2f61b354b78.png)
but css is not loading so i have to clear cookie

[2022-08-26 09:08] re2005 opened #34 "Error when trying to update the ServiceWorker"
I'm using this plugin and it does works nicely.

But my Sentry report is getting spammed with a lot of errors that comes as `Unhandled`

[code]

I can't manage to find the root cause. I've already set the `base`, `scope` urls but still the same.

[code]

One thing I noticed is that if you are deploying your application and your UI request the `sw.js` file it will failed also with `unhandled` so ma

[2022-08-28 08:48] brambekkers commented on #32
Has anyone found a solution for this?

[2022-08-28 09:00] BenjaminOddou commented on #32
unfortunately not for the moment @brambekkers

[2022-08-29 23:57] mjzarrin commented on #32
I could run PWA in dev mode however when I build my project, the PWA manifest gets replaced by the Nuxt manifest.

[code]
[code]

[code]

[2022-08-30 09:11] kevinmarrec commented on #32
Hi, I'm back from my days off and will try to work on a fix this week.

[2022-08-30 09:12] pi0 commented on #32
Likely solved by https://github.com/nuxt/framework/pull/7021 (try on edge)

[2022-08-30 09:32] kevinmarrec commented on #28
@rashidpathiyil Workbox `enabled` option in development can lead to issues like the one you're facing, try to remove it. If you omit it it will still be enabled for production only.

[2022-08-30 09:36] kevinmarrec commented on #26
Closing this issue as it does not seem reproducible.

@BenjaminOddou For your last comment, let's follow #32 which should be fixed using last edge version of Nuxt or wait for next release candidate (RC.9)

[2022-08-30 09:36] #26 closed

[2022-08-30 09:37] kevinmarrec commented on #33
@SepehrMoafi Could it be related to #32 ? This module does not work well since `nuxt@3.0.0-rc.7` unfortunately.

[2022-08-30 09:41] kevinmarrec commented on #34
@re2005 I'm not sure why you're talking about Vite PWA Options, as this module does not use it ?

As well as your configuration using `useRegisterSW`, which is not a part of this module. Maybe are you trying to find help on https://github.com/antfu/vite-plugin-pwa instead ?

[2022-08-30 09:41] rashidpathiyil commented on #28
Yea, Currently I turned it off at development

[2022-08-30 09:42] kevinmarrec commented on #28
@rashidpathiyil Is everything working as expected when turning it off then ?

[2022-08-30 09:44] rashidpathiyil commented on #28
Yes, I am not facing any issues now. @kevinmarrec

[2022-08-30 09:49] kevinmarrec commented on #32
If anyone want to try the upstream fix, you can try this in your `package.json` then run your package manager to install the Nuxt Edge version that contains the potential fix.

[code]

[2022-08-30 09:53] kevinmarrec commented on #28
Great, closing this issue then.

[2022-08-30 09:53] #28 closed

[2022-08-30 11:00] re2005 commented on #34
@kevinmarrec you are 100% right, I'm sorry about the confusion.

Do you think this module will work on Vite 2 or 3 ? I'll give it a try.

Cheers.

[2022-08-30 11:00] #34 closed

[2022-08-30 11:08] Youdaman commented on #27
Hey @larbish sorry for such a late reply, but from memory the repro was simply spin up a fresh Nuxt3 and do nothing else but add this PWA module and follow any of the various auth provider guides in the Supabase docs.

[2022-08-30 11:30] kevinmarrec commented on #34
If you're not using Nuxt : Use Vite PWA plugin.
If you're using Nuxt : Use this module.

:)

[2022-09-01 22:50] robotpapier opened #35 "my nuxt sources files are not at root, and no manifest.json found"
Hi,
in my nuxt.config.ts file, I set
`srcDir: 'src',`

and no manifest is found

how can I configure the pwa module for that?

[2022-09-01 23:38] robotpapier commented on #35
re,
ok,
as said in another issue,
using
"nuxt": "npm:nuxt3@3.0.0-rc.8-27696104.af2835f"
solved it

[2022-09-02 11:58] re2005 commented on #34
I'm using Vite and Nuxt :)

[2022-09-05 14:24] robotpapier opened #36 "How Can I precache and route custom folder, or public folder for example?"
Hi,
when online, cached assets or assets in public folder are available
but when offline it's not anymore.
How can I tell the sw.js to precacheAndRoute specific files/folder?

[2022-09-05 14:26] robotpapier commented on #36
or maybe use another custom sw.js template instead of templates/workbox/sw.js?

[2022-09-06 09:46] kevinmarrec commented on #32
## Update

You can now try with last Release candidate version :

[code]

This issue should be resolved.

[2022-09-06 09:47] kevinmarrec commented on #35
**3.0.0-rc.9** has been released ! Let's follow #32 and I'll close it if everything goes fine in the coming days.

[2022-09-06 09:47] #35 closed

[2022-09-08 16:49] billymaulana opened #37 "disable javascript show credential in url"
im use with nuxt3rc.9
nuxt.config set to ssr = true

im disable js with web developer extension.
and then im try to field the form and the click button submit.

why the field in form is pushed to url like this:
<img width="826" alt="image" src="https://user-images.githubusercontent.com/13347455/189179881-bed9e33b-e4f0-44d0-83c4-b0d05555b70a.png">

[2022-09-08 18:01] #37 closed, assigned to nobody

[2022-09-12 15:06] Corentin7301 commented on #32
Hi!
I'm sorry but, after Nuxt update (rc8 --> rc9), I've the same problem...

![CleanShot 2022-09-12 at 17 05 13](https://user-images.githubusercontent.com/63867332/189689097-923a25c1-df90-400d-a054-1b9a8b979202.png)

Nuxt version : ^3.0.0-rc.9
Nuxt PWA version : ^0.4.2

[2022-09-13 07:28] brambekkers commented on #32
Ill have the same issue. No Service worker and no start url.

I have workbox enabled.
nuxt": "^3.0.0-rc.9", "
@kevinmarrec/nuxt-pwa": "^0.4.2",

[2022-09-13 07:59] kevinmarrec commented on #32
Gonna have a closer look with the help of the framework team.

[2022-09-13 20:37] JohanDufau commented on #32
Hi!
The issue is fixed with rc9 in prod mode.

FYI, this module requires ssr on.
Also, it does not work in dev mode, I turn off workbox in dev like this in next.config:
workbox: {
  enabled: process.env.NODE_ENV === 'production',
},

After building with upgraded nuxt, I advise to clear your cache.

[2022-09-13 20:41] toniengelhardt commented on #32
Why does it require ssr on?

[2022-09-13 20:42] JohanDufau commented on #32
To serve manifest.json ;)

[2022-09-13 20:49] Corentin7301 commented on #32
Thanks for fixing!

Is there any way to make it work in CSR?
It's quite annoying...

[2022-09-13 20:54] toniengelhardt commented on #32
Is this somehow a limitation with Nuxt 3? The original `@nuxtjs/pwa` module serves the manifest also with `ssr: false`.

[2022-09-19 09:29] korakoe opened #38 "Allow registering more service workers"
I'm trying to register another service worker on top of the workbox one... however, its been proven difficult

[2022-09-19 09:47] kevinmarrec commented on #32
I will consider a solution to have the module working with `ssr: false`.

As a reminder, having Workbox running in development is not recommended and should be used only for testing some behaviors locally. Cause be aware that having it enabled will make your Nuxt application serve cached files through the Service Worker and therefore you would need to empty cache often when developing.

Also, if y

[2022-09-19 09:49] kevinmarrec commented on #38
Hi, why would you need 2 services workers ?

You may need to juste replace the current one with an enhanced/customized one ?

I'm considering adding the possibility to provide our own Service Worker template that would replace https://github.com/kevinmarrec/nuxt-pwa-module/blob/main/templates/workbox/sw.js

[2022-09-19 10:36] korakoe commented on #38
that would be very helpful! whenever i replace and build the current one it always re-generates it

[2022-09-22 11:52] manniL opened #39 "Access generated icon via composable"
Hey 👋🏻

it'd be amazing to be able to access the generated PWA icons via composable 😋(e.g. `usePwaIcon(<SIZE>)`), provide/inject or import 👏🏻

Similar to the `plugin` feature of the Nuxt2 part https://pwa.nuxtjs.org/icon

[2022-09-22 15:53] manniL opened #40 "Icon generation breaks on (e.g.) 917x1188"
Hey 👋🏻

When using e.g. [this image](https://via.placeholder.com/917x1188) for icon generation (as `icon.png`), the generation will fail during the masked icon generation with `[Error: Image to composite must have same dimensions or smaller]`.

[2022-09-29 00:36] kevinmarrec commented on #36
@robotpapier I'm gonna add the possibility to use custom workbox template :)

[2022-09-29 00:39] kevinmarrec commented on #29
@516310460 Thanks for the issue and PR, but I think I'm juste gonna add a way to provide custom workbox template, in which you could add  this support on your project while using this module :)

[2022-09-29 00:42] kevinmarrec commented on #27
@Youdaman Did you find any fix ?

I'm gonna add support for custom workbox template, so if needed you'll be able to adjust it to your needs if your app has still some issues with current cache strategies.

[2022-09-29 00:45] kevinmarrec commented on #16
@desaintflorent I'm gonna add support for custom workbox template in which you'll be able to fully customize your runtime caching.

We may add module options later on but I want first to provide a way to fully customize the worker with own template first.

[2022-09-29 09:47] desaintflorent commented on #16
Ok great ! keep me updated 🙌

[2022-09-29 17:11] MarcelskyXD opened #41 "Manifest could not be fetched, is empty or could not be parsed"

[2022-09-29 17:19] #41 closed

[2022-09-29 19:34] #16 closed

[2022-09-29 19:34] #27 closed

[2022-09-29 19:34] #29 closed

[2022-09-29 19:34] #36 closed

[2022-09-29 19:34] #38 closed

[2022-09-29 19:35] kevinmarrec commented on #33
Duplicate of #32

[2022-09-29 19:35] #33 closed

[2022-09-29 19:54] #32 closed

[2022-09-29 20:25] #40 closed

[2022-09-29 20:31] kevinmarrec commented on #32
[**v0.5.0**](https://github.com/kevinmarrec/nuxt-pwa-module/releases/tag/v0.5.0) is out !

[2022-10-01 09:37] kevinmarrec commented on #17
Hi @soylomass,

I've been thinking couple of hours on this feature, and my opion is that this is too much complex.
More than generate a `manifest.json` on demand, it also means generating icons for each possible result, but also other things...

This has complexity on multiple levels.

So, unfortunately, I'm gonna close this issue as *not planned*.

Thank you in advance for your understanding :)

[2022-10-01 09:37] #17 closed

[2022-10-01 09:42] kevinmarrec commented on #31
Hey @BenjaminOddou , sorry for the late response, I thought I gave you one !

PWA `meta` option should be dedicated to PWA related head meta.

Therefore, for any global head meta you wand to add, I highly recommend you to use `head` option of Nuxt 3 configuration.

Here's the documentation : https://v3.nuxtjs.org/api/configuration/nuxt.config#head

[2022-10-01 09:42] #31 closed

[2022-10-01 13:09] kevinmarrec commented on #39
Released in https://github.com/kevinmarrec/nuxt-pwa-module/releases/tag/v0.6.0 through #43 ✨

[2022-10-01 13:09] #39 closed

[2022-10-01 14:47] manniL opened #44 "Improve icon generation to reduce cutoff"
Follow-up of  #40
Thanks to https://github.com/kevinmarrec/nuxt-pwa-module/commit/8c1f8e2c715ca1416d5d3c6d4a7059fe49f8a99b, the generation is running through now *but* the icon is cut off when height > width.

It'd be ideal to termine whether height > width, then running `sharp(input).resize(undefined, Math.floor(size))` and else running ``sharp(input).resize(Math.floor(size))`

---

Result with c

[2022-10-01 15:00] kevinmarrec commented on #44
Yeah I didn't know what to do regarding not squared icons, if `undefined` on resize function works well I'm gonna do adjustments.

Thanks for feedback !

[2022-10-01 15:23] kevinmarrec commented on #44
@manniL Could you provide the image you used please ? 💚

[2022-10-01 15:26] manniL commented on #44
Sure! https://gubutler.com/icon.png

[2022-10-01 15:44] kevinmarrec commented on #44
@manniL Thanks, I found a better way to handle it, and also make splashs working with all icon sizes !

Closing through https://github.com/kevinmarrec/nuxt-pwa-module/commit/f342fa895110ad4525c8e46a9ca5574413dc4b15

Released in [**v0.6.1**](https://github.com/kevinmarrec/nuxt-pwa-module/releases/tag/v0.6.1) ✨

[2022-10-01 15:44] #44 closed

[2022-10-01 15:49] manniL commented on #44
Awesome!

[2022-10-07 11:02] Corentin7301 opened #45 "No service worker and start_url are registered"
Hello!
I've update the module to ```0.6.1``` and I've always the same error of #32 issue...

It's strange because when I look at the services workers in the browser, it appears well...

I was able to install the application on a mobile but the installation time was very long and not natural...

I didn't get the notification either, I had to install it manually.

---

Here are some screenshots of t

[2022-10-07 11:45] kevinmarrec commented on #45
Hi @Corentin7301 , could you check :

https://github.com/kevinmarrec/marrec.io
It's deployed on https://marrec.io using latest version of the module, without issues.

Let me know if there's anything in your configuration that could alter the result.

[2022-10-07 12:52] Corentin7301 commented on #45
Thanks for your answer!
I tested your repo, it works well. So I've used your PWA configuration, I've updated Nuxt to rc-11, my SSR is turn to false, but I always have this error in Lighthouse...
I don't think it's a Lighthouse problem because it worked fine for your repo...

If you like check my config: https://github.com/Corentin7301/wildcount/tree/feature/v2

[2022-10-07 13:47] kevinmarrec commented on #45
I don't really see something wrong, I also tried my website with `ssr: false` and it still works.
Did you try again with Nuxt RC 11 ? Also, could you provide the expanded errors of Lighthouse checks (expand the red checks with the arrows and do another screenshot)

[2022-10-07 13:49] kevinmarrec commented on #45
Also, can you try adding a `name` field in your `package.json` ? I remember similar issue cause it's used for some default values in the PWA module.

[2022-10-07 15:30] kevinmarrec commented on #45
I tried few more things, I can't find the issue, except you're deploying your website on something like Github Pages or something which is not at root.

To give you more context, `start_url` needs to match the route your website so that the PWA can control it.

`start_url` default is :
https://github.com/kevinmarrec/nuxt-pwa-module/blob/0620153d5a0f8472c8a35cf22d84a4213a1de062/src/module.ts#L28

S

[2022-10-10 09:53] Corentin7301 commented on #45
I've tested with name in `package.json` but I've the same error.

Please look expanded Lighthouse errors:

<img width="719" alt="CleanShot 2022-10-10 at 11 49 07@2x" src="https://user-images.githubusercontent.com/63867332/194839853-dd63927d-1da2-4645-b70b-6c720b4eb314.png">

And I use now Nuxt rc-11.

I deploy my website on Netlify and I deploy the `dist` folder with `npm run build` command.

[2022-10-10 10:17] Corentin7301 commented on #45
Yes, but what do I change my `app.baseUrl` by what?

[2022-10-10 13:43] kevinmarrec commented on #45
@Corentin7301 Is your website public ? I'd like to take a look to investigate what is published, so I can find what's missing when deployed.

[2022-10-10 13:49] Corentin7301 commented on #45
Yes!
Here is the website url : https://app.wildcount.fr/
And the repo is https://github.com/Corentin7301/wildcount/tree/feature/v2 (Be careful to be well on the branch `feature/v2`)

Thank you very much for your time!

[2022-10-10 16:42] kevinmarrec commented on #45
@Corentin7301 Unfortunately, I'm not able to start your project after installing dependencies :
![image](https://user-images.githubusercontent.com/25272043/194914947-96635e15-784e-4e5e-96bf-d544255c7e12.png)

Am I missing something ?

[2022-10-10 17:13] kevinmarrec commented on #45
One more update regarding this one, well this is only happening when using `pages` folder + `ssr: false`.

[2022-10-10 17:30] Corentin7301 commented on #45
Oh okay! I understand!
Thanks for your very good explanation!

[2022-10-10 21:59] bcspragu opened #46 "Disabling auto-registration?"
The Nuxt 2 PWA module has [an `autoRegister` setting](https://pwa.nuxtjs.org/workbox#autoregister) which determines if the Service Worker should auto-magically be registered or not. This also appears to be the default behavior in this module, but as far as I can tell, there's no option to turn it off and register manually.

[2022-10-11 09:10] kevinmarrec commented on #46
Will implement it :)

[2022-10-11 10:02] danielroe commented on #45
Here's how we implemented in color-mode module: https://github.com/nuxt-modules/color-mode/pull/164

[2022-10-11 13:01] #45 closed

[2022-10-11 13:08] kevinmarrec commented on #46
Released on [**v0.7.0**](https://github.com/kevinmarrec/nuxt-pwa-module/releases/tag/v0.7.0) ✨

[2022-10-11 13:08] kevinmarrec commented on #45
Fixed & Released on [**v0.7.0**](https://github.com/kevinmarrec/nuxt-pwa-module/releases/tag/v0.7.0) ✨

Please give it a try @Corentin7301 !

[2022-10-11 14:43] bcspragu commented on #46
Amazing, and much appreciated!

[2022-10-11 14:58] Corentin7301 commented on #45
@kevinmarrec Unfortunately I've a error 500 in production.

Build Logs:
[code]

[2022-10-11 15:02] kevinmarrec commented on #45
@Corentin7301 Thank your for the feedback, I've been running tests locally but well, when it's published on npm and then installed it's not exactly the same environment. Gonna find a fix

[2022-10-11 15:09] kevinmarrec commented on #45
@Corentin7301 You should have better luck with [**v7.0.1**](https://github.com/kevinmarrec/nuxt-pwa-module/releases/tag/v0.7.1) 😉

Sorry for the broken v0.7.0.

[2022-10-11 15:23] Corentin7301 commented on #45
@kevinmarrec Thanks for your fast answer!

I've a new build error:
[code]

[2022-10-11 15:30] Corentin7301 commented on #45
@kevinmarrec  Okay, I'll try again.

[2022-10-11 15:33] kevinmarrec commented on #45
@Corentin7301 Alright, also check locally `build` + `start` if you have any errors this way as well :)

[2022-10-11 15:34] Corentin7301 commented on #45
@kevinmarrec Effectively the build brakes on Netlify with the same `Package import specifier "#imports" is not defined in package /opt/build/repo/node_modules/@kevinmarrec/nuxt-pwa/package.json imported from /opt/build/repo/node_modules/@kevinmarrec/nuxt-pwa/dist/runtime/nitro-plugin.mjs` error...

[2022-10-11 15:43] kevinmarrec commented on #45
@Corentin7301 Do you have any idea what package manager uses Netlify and which version ?

[2022-10-11 15:49] Corentin7301 commented on #45
I'm sorry but I don't know...

[2022-10-11 16:10] kevinmarrec commented on #45
@Corentin7301 No problem, I'll take more time to investigate and hopefully find a fix

[2022-10-11 16:11] Corentin7301 commented on #45
@kevinmarrec Okay, I hope you will find a fix!
Thank you very much for your work!

[2022-10-11 16:24] kevinmarrec commented on #45
@Corentin7301 Alright it's when using `nuxi generate` ! I have a fix

[2022-10-11 16:46] Corentin7301 commented on #45
@kevinmarrec Okay, build is correct!

[2022-10-11 16:50] Corentin7301 commented on #45
@kevinmarrec And PWA is working!!!
Just the time of PWA install is a little long... but I don't think it is the module fault.

Thank you very much for your time, your fix and your module! 🚀

[2022-10-11 16:51] kevinmarrec commented on #45
@Corentin7301 Glad to know it's finally working for you :)

[2022-10-12 09:11] toniengelhardt opened #47 "Title is always "Nuxt PWA""
The title of the PWA seems to be always "Nuxt PWA".

Config:

[code]

![Screenshot_20221012-100539](https://user-images.githubusercontent.com/2703233/195301301-fb8d42c2-0eea-4681-8eed-313ee1b5585a.png)

[2022-10-12 09:16] toniengelhardt opened #48 "Icon gets cropped"
The auto-generated icon gets cropped on Android (Chrome) and iOS (Safari). Chrome desktop seems to work fine. Maybe an issue with the maskable option, which I think is missing.

Icon size is 512x512, is that too small? I have another app with the `@nuxtjs/pwa` where 512x512 works fine. If that is the issue and x1024 is required or so I think it would not be a problem and would be happy to create a

[2022-10-12 09:44] kevinmarrec commented on #47
Hey @toniengelhardt !

`manifest` settings should be under `pwa` (`pwa.manifest`) !

Just move your current `manifest` under `pwa` and you'll be fine :)

[2022-10-12 09:47] kevinmarrec commented on #48
@toniengelhardt

It sounds like normal to me, your icon has white background, and Android is fitting your icon within a circle, therefore your white rectangle it just hidden by the circle shape.

[2022-10-12 10:10] toniengelhardt commented on #47
Thanks, that resolved it.

I created a PR (https://github.com/kevinmarrec/nuxt-pwa-module/pull/49) to list differences to the `@nuxtjs/pwa` module. I think that will help people to upgrade their Nuxt 2 projects.

[2022-10-12 10:10] #47 closed

[2022-10-12 10:28] kevinmarrec commented on #48
@kevinmarrec Yep, having icons with both `any` & `maskable` purposes lead to Google Lighthouse warnings.

This is why I've been implementing independent generation of maskable icons.

Sounds like a great idea to be able to give path to another icon for maskable purpose !

[2022-10-12 10:33] toniengelhardt commented on #48
Yes exactly and devices (Android, iOS) seem to have different preferences with `[any, maskable]`.

The problem with `@nuxtjs/pwa` ism as far as I understand it, that you can either have auto-generated icons with the same setting, or you have to generate all icons yourself if you want both, which is kinda annoying.

[2022-10-12 10:42] kevinmarrec opened #50 "Custom maskable icon"
## Linked issues

#48

## Feature Description

Add `icon.maskableSource` option as icon source for maskable icons generation.

[2022-10-12 10:46] kevinmarrec commented on #48
@toniengelhardt

Good.

Will work on https://github.com/kevinmarrec/nuxt-pwa-module/issues/50 as part of [v0.8.0]( https://github.com/kevinmarrec/nuxt-pwa-module/milestone/3) Milestone.

[2022-10-12 16:40] #48 closed

[2022-10-12 16:40] #50 closed

[2022-10-12 16:46] kevinmarrec commented on #48
@toniengelhardt Please have a try with `icon.maskableSource`, or just add `icon.maskable.png` in `public` folder, it will be taken out of the box :)

[2022-10-12 17:04] toniengelhardt commented on #48
@kevinmarrec amazing, epic idea to use `icon.maskable.png` as default!

However, it doesn't solve the original problem. I can see the maskable icons in Chrome dev tools but the black borders are still around. Maybe the PWA needs to be configured to use the maskable icon as default for the icon/install/launch screen somehow?

A few more insights...

On `Android` the black borders show up when insta

[2022-10-12 17:07] kevinmarrec commented on #48
@toniengelhardt Well if you check the icons generated there is no black border, so I'm note sure what causes it 👀

[2022-10-12 17:43] toniengelhardt commented on #48
@kevinmarrec I'll investigate

[2022-10-16 15:00] userquin opened #52 "update assets route entry to include webmanifest"
You should add manifest destination (for webmanifest) in the workbox template:
[code]

[2022-10-18 11:54] toniengelhardt opened #53 "Manifest default 'theme_color' gets injected as duplicate meta 'theme-color'"
The default for `theme_color` in the manifest is set to `#000000`. This gets somehow injected as a duplicate `theme-color` meta tag in the header and overrides the normal `theme-color` from `meta`. You can see this, when adding this in `nuxt.config.ts`:

[code]

and opening the app in Chrome mobile. The theme will be black.

Here's the HTML output:

<img width="433" alt="Screen Shot 2022-10-18 at

[2022-10-18 11:59] toniengelhardt opened #54 "Missing properties in manifest interface"
The following keys (and maybe others) are missing from the manifest interface: `orientation`, `id`, `scope`, `crossorigin`, `screenshots`, `shortcuts`, `categories`, `related_applications`.

[2022-10-18 12:06] kevinmarrec commented on #52
@userquin Do you have any source for this ? I don't remember what exactly it does. Is it for `manifest.json` ?

[2022-10-18 12:25] kevinmarrec commented on #54
@toniengelhardt Do you have any source for these properties ?

We would need to know what are the accepted values for each, to determine the type & possible default value.

[2022-10-18 12:30] toniengelhardt commented on #54
I'll create a PR for this one.

[2022-10-18 12:31] toniengelhardt commented on #53
Sounds good!

[2022-10-19 13:31] ashbeats opened #56 "OneSignal"
Is there a way to to use `'@nuxtjs/onesignal'` with this pwa module?

If I add one signal to `modules` as such...

[code]

It triggers a build error (npm run dev).

[code]

Stepping into that fn `node_modules\@nuxtjs\pwa-utils\index.js:isUrl`
[code]

... reveals that url is undefined.

Is there something I'm doing wrong here, as the documentation here:
https://pwa.nuxtjs.org/onesignal points to th

[2022-10-21 10:54] pnzz7 opened #57 "support of crossorigin="use-credentials" for basic auth"
Thanks for your awesome work so far!

It would be great if we could have support for applications behind basic auth.

I think this should be possible by simply adding `crossorigin: 'use-credentials'` to the manifest.json link:

https://github.com/kevinmarrec/nuxt-pwa-module/blob/bdd4b4fbb4c78d804e36847b9510a535d393a4c0/src/parts/manifest/index.ts#L29-L32

(Souce: https://developer.mozilla.org/en-U

[2022-10-22 15:11] kevinmarrec commented on #54
Closed by #55

[2022-10-22 15:11] #54 closed

[2022-10-22 15:11] kevinmarrec commented on #57
Closed by #55

Will be available in next release

[2022-10-22 15:11] #57 closed

[2022-10-22 15:13] kevinmarrec commented on #56
Hi @ashbeats this module does not have `OneSignal` support yet.

[2022-10-22 15:15] kevinmarrec commented on #52
@userquin Alright, it's ok for me. This change is easy, you could easily contribute with a simple PR if you want :)

[2022-10-22 15:38] #53 closed

[2022-10-22 16:05] re2005 opened #58 "Do you have features like `auto update` or at least some api to detect when the page needs refresh."
I use `vite-plugin-pwa` in other projects and they provide a way to detect when the page needs an update.

How can we do the same with this plugin?

Thanks!

[2022-10-23 03:32] CavalcanteLeo commented on #24
@pinnnguyen did u solve that?

thanks

[2022-10-23 09:23] userquin commented on #52
@kevinmarrec cannot run example with instructions on readme file, it seems you've changed the layout and there are a lot of errors running it from root (running `example:build` or `example:generate` cannot find example exports in package.json):

![imagen](https://user-images.githubusercontent.com/6311119/197384418-b77bbac3-2f27-4c7a-8934-59e9049ce345.png)

![imagen](https://user-images.githubuserc

[2022-10-27 17:37] manniL opened #60 "Meta: add `key`s to favicons"
To be able to override the `favicon`, it would be nice to pass a `key` to the meta added ☺️

[2022-11-04 09:33] pnzz7 commented on #57
@kevinmarrec i think this needs to be implemented as well when loading the manifest.json (see my reference)  #55 just adds interface definitions for other properties but not the property `crossorigin`  nor the actual implementation.

[2022-11-07 13:54] #60 closed

[2022-11-07 13:54] #52 closed

[2022-11-07 13:55] kevinmarrec commented on #58
Hi @re2005 , it requires you to use custom Service Worker template, you have a little notice about the option here : https://github.com/kevinmarrec/nuxt-pwa-module#configuration

[2022-11-07 22:43] manniL opened #62 "Cache generated PWA images"
Hey 👋🏻

If possible, could we cache the generated PWA images, ideally via `node_modules/.cache/MODULENAME/<contenthash-of-icon>/` or so? This would reduce build time in case the icon did not change 😋

[2022-11-09 09:19] re2005 commented on #58
Hey @kevinmarrec thanks.

But is not a clear path on how to easily implement the same very useful features that `vite-plugin-pwa` provides.

If you could indicate here, on how to detect when the page needs an update and also how to trigger the workbox to unregister the worker and refresh, invalidating the old cache, would be really amazing.

Thanks

[2022-11-10 14:07] paulrosen opened #63 "Fonts are not available offline"
I have a PWA that mostly works offline except that the fonts only work when there is an internet connection. I'm not sure if there is something to add to the manifest and I'm not sure if there is a way to debug exactly what is happening. I tried the following in `nuxt.config.ts`:

[code]
But that doesn't help.

The fonts are in `/public/fonts/*.ttf`

As I said, the fonts work when the app starts u

[2022-11-15 15:01] kevinmarrec commented on #63
@paulrosen We don't have `offlineAssets` support here yet, but I'll work on adding it so you can pre-cache your fonts and make them available offline :)

[2022-11-16 14:58] HigherOrderLogic opened #64 "`useNuxt().options.runtimeConfig.public.pwaManifest` is undefined"
When I run `nuxi dev/generate/build`, I always encounter this error.
[code]
The code that throw error.

<details>
<summary>Code</summary>

[code]

</details>

Ouput of `nuxt info`.

<details>
<summary>Details</summary>

- Operating System: `Windows_NT`
- Node Version:     `v18.12.1`
- Nuxt Version:     `3.0.0-rc.14`
- Nitro Version:    `1.0.0`
- Package Manager:  `yarn@3.3.0`
- Builder:          `

[2022-11-16 15:00] kevinmarrec commented on #64
hi @HigherOrderLogic I thinks this is caused by some breaking changes the `rc.14` has been bringing.

I'll work on a fix.

[2022-11-16 15:02] HigherOrderLogic commented on #64
Thanks for the quick response. V3 stable has just been released so maybe updating straight to V3 stable?

[2022-11-16 15:11] kevinmarrec commented on #64
Sure thing :)

[2022-11-16 15:14] HigherOrderLogic commented on #64
I'll closed this issue since it's fixed on upstream at https://github.com/nuxt/framework/pull/9050.

[2022-11-16 15:14] #64 closed

[2022-11-16 15:15] kevinmarrec commented on #64
@kevinmarrec Yep I algo got the confirmation internally with the framework team :)

🚀

[2022-11-16 15:44] RifatMahmudno-1 opened #65 "Doesn't work in nuxt@3.0.0-rc.14."
Nuxi 3.0.0-rc.14                                                            21:42:31
Nuxt 3.0.0-rc.14 with Nitro 1.0.0                                           21:42:31
                                                                            21:42:33

 ERROR  Cannot start nuxt:  Cannot set properties of undefined (setting 'pwaManifest')

  at manifest (/G:/Rifat/node_modules/@kevinmarrec/nuxt-

[2022-11-17 04:36] HigherOrderLogic commented on #65
See https://github.com/kevinmarrec/nuxt-pwa-module/issues/64. Upgrade to 3.0.0 stable works just fine.

[2022-11-17 08:59] kevinmarrec commented on #65
Duplicate of #64

[2022-11-17 08:59] #65 closed

[2022-11-17 10:00] codeflorist opened #66 "Styles not loading in dev mode"
Using Nuxt3 3.0.0 and this package, when using the service worker in dev mode, the styles do not get loaded and the following error is thrown in console, when trying to load `http://localhost:3000/_nuxt/assets/css/tailwind.css`:

[code]

Somehow it seems the service worker is expecting a JavaScript module script, and not a css file.

[2022-11-17 10:18] kevinmarrec commented on #66
Hi @codeflorist , this is an issue that usually/may disappear when clearing your local website cache.

That said, using Service Worker in dev mode is subject to many issues, it should only be used to test your app is installable before deploying it, as well as for testing custom service worker template, but it may come with the trade of this issue, unfortunately..

[2022-11-17 10:42] codeflorist commented on #66
@kevinmarrec many thanks for your help and explanation!

clearing the cache removes the problem, but it reappears again after reloading the page. i think it's indeed best to disable the service worker in dev mode.

[2022-11-17 10:42] #66 closed

[2022-11-17 10:50] Corentin7301 opened #67 "Installation error when update to Nuxt 3 rc14"
Hello,
I've this error when I update Nuxt 3 from rc13 to rc14 :
[code]
Have you a solution?

[2022-11-17 10:51] kevinmarrec commented on #67
Duplicate of #64 , please upgrade to stable `3.0.0` :)

[2022-11-17 10:51] #67 closed

[2022-11-18 10:33] Aybee5 opened #68 "Error: Something went wrong installing the "sharp" module"
I bumped my nuxt to v3.0.0 with the this module 0.11.0

I am getting the error that something went wrong installing 'Sharp' module

[2022-11-18 13:49] kevinmarrec commented on #68
@Aybee5 Which package manager are you using ?

[2022-11-18 22:41] Aybee5 commented on #68
pnpm, but after clearing the node_modules and creating again, the error seems to be gone

[2022-11-18 22:42] #68 closed

[2022-11-23 10:09] wahaha999 opened #69 "Customize splash screen."
I am focused "Configured for a custom splash screen".

I already installed this module and implemented almost features without problem. then currently I am implementing customize splash screen.

pwa: {
    icon: false,
    manifest: {
      name: "V&B Messe App",
      lang: "de",
    },

    meta: {
      title: "V&B Messe App",
      link: [
        {
          rel: "apple-touch-startup-image",

[2022-11-23 14:47] kevinmarrec commented on #69
@wahaha999 I don't have much experience in configuring splash screens, but you're doing almost the same thing as the module is doing, but manually.

Maybe to have it working this icon also need to be configured in manifest icons though, you may have a try to configure `icons` property in `pwa.manifest` option.

[2022-11-24 13:07] xlanex6 commented on #69
hi @wahaha999

splash screen is auto generated base on config based on :

[code]

backgroundColor is the color of your image: every CSS property is fine 😎 ( so gradient )
devices: you got a default list , if you add into thi array , it will be merge . keep it simple: [] is fine for 95% devices

let me know if this works for you
I could help if so